# dependencies
frontend/node_modules/
backend/venv/

# build cache
frontend/.cache/

# python cache
__pycache__/
*.pyc

# production
frontend/build/

# testing
frontend/coverage/

# misc
.DS_Store
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*frontend/node_modules/
